@import '_variables';

.custom-footer {
    font-size: 0.7em;
    background-color: $secondary-grey;
    color: $white;

    a, a:link, a:visited, a:hover, a:active {
        text-decoration: none;
        color: inherit;
    }

    section {
        width: 200px;
        overflow: hidden;
    }

    &__help-section {
        li {
            padding-left: 20px;
        }
    }

    &__copyright {
        font-size: 0.7em;
    }
}